.container {
  display: flex;
  margin-top: 20px;
  height: 930px;
  width: 1396px;
  background-color: #222e35;
  overflow: hidden;
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 43%;
  height: 100%;
  background-color: #0b141a;
  border-right: 1px solid #2f3b43;
  background-color: #111b21;
  position: relative;

}

.headerLeft {
  background-color: #202c33;
  height: 59px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  justify-content: space-between;

}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}

.notification {
  display: none;
  align-items: center;
  gap: 15px;
  height: 89px;
  background-color: #182229;
  padding: 13px 12px 14px 13px;
}

.notification .text div{
  color: white;
}
.notification .text span{
  color: #8696a0;
  font-size: 14px;
}

.search {
  display: flex;
  align-items: center;
  height: 49px;
  background-color: #111b21;
  padding: 15px;
  border-bottom: 1px solid rgb(134 150 160 / 15%);
}

.searchInput {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding: 7px 15px;
  border-radius: 8px;
  background-color: #202c33;
}

.search input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  font-size: 15px;
  color: #d1d7db;
  font-weight: 100;
}

.search input::placeholder {
  color: #8696a0;
  font-size: 13px;
}

.chatlist {
  overflow-y: visible;
  overflow-x: hidden;
}

.chatlist::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.chatlist::-webkit-scrollbar-thumb {
  background-color: #374045;
}

.rightSide {
  width: 100%;
}