.messageLine {
    display: flex;
    margin-bottom: 2px;
}

.messageItem {
    display: flex;
    flex-direction: column;
    background-color: #005c4b;
    border-radius: 8px;
    padding: 2px 5px;
    max-width: 60%;
}

.messageText {
    font-size: 14.2px;
    margin: 5px 55px 5px 5px;
    color: #e9edef;
    overflow: hidden;
}

.messageDate {
    font-size: 11px;
    color: #ffffff99;
    margin-right: 5px;
    text-align: right;
    height: 15px;
    margin-top: -15px;
}